.widget-card {
    color: #ffffff;
    min-width: 400px;
    margin: 0 20px 20px 0;

    .widget-card-header {
        margin-bottom: 1rem;
    }

    .widget-card-header
     {
        justify-content: center;
    }
    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
